.header__nav-list {
  list-style: none;
  position: fixed;
  right: 80px;
  top: 50%;
  margin: 0;
  padding: 0;
  z-index: 10000;
}
.header__nav-href {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
}
#menu2sec {
  margin-top: 40px;
}
#menu3sec {
  margin-top: 80px;
}
