.header__nav-list {
  list-style: none;
  position: fixed;
  left: 90%;
  top: 50%;
  margin: 0;
  padding: 0;
  z-index: 10000;
}
.header__nav-href::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}
.sec1 {
  z-index: 3;
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.sec1__back {
  transform: translateZ(0);
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/backSection1.png');
  background-repeat: no-repeat;
  background-position: center;
}
.sec1__inscriptions {
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: left;
  color: #0d319c;
  font-size: 40px;
}
.sec1__title {
  font-size: 100px;
  width: 1500px;
  font-weight: normal;
  margin-left: 3%;
}
.sec1__aim {
  margin-left: 60%;
  margin-top: -20px;
  font-size: 40px;
}
.sec1__aim::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: -110px;
  margin-top: -30px;
  border-radius: 50%;
  background-color: orange;
}
.sec1__hypoglycemia {
  margin-left: 20%;
  margin-top: 10%;
}
.sec1__hypoglycemia::before {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: 100px;
  margin-top: 60px;
  border-radius: 50%;
  background-color: orange;
}
.sec1__risk {
  margin-left: 77.6%;
  margin-top: 8%;
}
.sec1__risk::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: 100px;
  margin-top: 60px;
  border-radius: 50%;
  background-color: orange;
}
.sec1__complication {
  margin-left: 36%;
  margin-top: -3%;
}
.sec1__complication::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 200px;
  margin-top: 60px;
  border-radius: 50%;
  background-color: orange;
}
.sec2 {
  z-index: 2;
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.sec2__back {
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/sec2Back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec2__stay {
  transform: translateZ(0);
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sec2__title {
  text-align: center;
  font-weight: normal;
  color: white;
  font-size: 100px;
  margin: auto;
  margin-top: 20%;
  width: 950px;
}
.sec2__ice1 {
  position: absolute;
  right: 0;
  top: 50px;
}
.sec2__ice2 {
  position: absolute;
  left: 180px;
  top: 200px;
}
.sec2__ice3 {
  position: absolute;
  left: 380px;
  top: 680px;
}
.sec2__ice4 {
  position: absolute;
  right: 420px;
  top: 850px;
}
.sec3 {
  z-index: 3;
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.sec3__back {
  transform: translateZ(0);
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../img/sec3Back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sec3__stay {
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  position: absolute;
}
.sec3__title {
  color: white;
}
.sec3__slider-list {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.sec3__slider-item {
  display: flex;
  width: 1820px;
  margin: auto;
  justify-content: space-between;
}
.sec3__slider-item p {
  margin: 0;
}
.sec3__slider-item b {
  font-size: 72px;
}
.sec3__slider-item span {
  display: block;
}
.sec3__slider-item img {
  z-index: 2;
}
.year2016__wrapper-left {
  text-align: right;
  width: 560px;
}
.year2016__wrapper-left p:after {
  content: '';
  position: absolute;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
  margin-left: 22px;
  margin-top: -20px;
  z-index: 1;
}
.year2016__wrapper-left p {
  margin-right: 36px;
}
.year2016__wrapper-center {
  text-align: center;
  width: 560px;
}
.year2016__wrapper-right {
  text-align: left;
  width: 560px;
}
.year2016__wrapper-right p:before {
  content: '';
  position: absolute;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
  margin-left: -140px;
  z-index: 1;
}
.year2016__line {
  display: flex;
  width: 660px;
  margin-left: -50px;
  margin-top: 170px;
  justify-content: space-between;
}
.year2016__part1 {
  display: flex;
  flex-direction: column;
}
.year2016__part1 p {
  display: flex;
  justify-content: space-between;
  width: 275px;
  margin: auto;
}
.year2016__b {
  font-size: 130px;
}
.year2016__part2 {
  display: flex;
  text-align: right;
  width: 300px;
}
.year2016__part3 {
  display: flex;
  text-align: left;
  width: 300px;
}
.year2016__part4 {
  display: flex;
}
.year2016__part4 p {
  margin-left: 31px;
  margin-top: 60px;
}
.year2016__part4 img {
  margin-top: 76px;
  margin-left: 8px;
}
.year2016__part5 {
  display: flex;
}
.year2016__part5 p {
  margin-left: 23px;
  margin-top: 60px;
}
.year2016__part5 img {
  margin-top: 86px;
}
.year2016__part6 {
  display: flex;
}
.year2016__part6 p {
  margin-left: 32px;
  margin-top: 60px;
}
.year2016__part6 img {
  margin-top: 86px;
}
.year2016__part7 {
  display: flex;
}
.year2016__part7 p {
  margin-left: 40px;
}
.year2016__part7 img {
  margin-top: 16px;
}
.year2016__part7 p:before {
  margin-left: -150px;
}
.year2016__part8 {
  display: flex;
}
.year2016__part8 p:after {
  margin-top: -134px;
}
.year2016__part8 img {
  margin-top: 10px;
}
.year2016__part9 {
  display: flex;
  margin-top: 35px;
}
.year2016__part9 p:after {
  margin-top: -174px;
}
.year2016__part9 img {
  margin-top: 28px;
}
.year2016__part10 {
  display: flex;
  padding-left: 250px;
  margin-top: 140px;
}
.year2016__part10 p:after {
  margin-top: -100px;
}
.year2016__part10 img {
  margin-top: 30px;
}
.year2016__part11 {
  display: flex;
  text-align: right;
  width: 260px;
  margin: auto;
}
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: 'GothamPro';
}
.main-page {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
