.year2009 {
  display: flex;
  flex-direction: column;
}
.year2009__name {
  display: flex;
  justify-content: space-between;
}
.year2009__part1 {
  width: 160px;
  position: absolute;
  left: 980px;
  top: 270px;
}
.year2009__part1 .year2009__name {
  flex-direction: column;
}
.year2009__part2 {
  width: 380px;
  position: absolute;
  left: 385px;
  top: 187px;
}
.year2009__part2 .year2009__organ {
  text-align: right;
  width: 260px;
}
.year2009__part3 {
  width: 346px;
  position: absolute;
  right: 443px;
  top: 270px;
}
.year2009__part3 .year2009__organ {
  text-align: left;
  width: 168px;
}
.year2009__part4 {
  width: 320px;
  position: absolute;
}
.year2009__part5 {
  width: 142px;
  position: absolute;
}
.year2009__part6 {
  width: 130px;
  position: absolute;
}
.year2009__part7 {
  width: 160px;
  position: absolute;
}
.year2009__part8 {
  width: 242px;
  position: absolute;
}
.year2009__hyperglycemia {
  width: 770px;
  position: absolute;
}
