.year2016__wrapper-left {
  text-align: right;
  width: 550px;
}
.year2016__wrapper-left p:after {
  content: '';
  position: absolute;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
  margin-left: 22px;
  margin-top: -20px;
  z-index: 1;
}
.year2016__wrapper-left p {
  margin-right: 36px;
}
.year2016__wrapper-center {
  text-align: center;
  width: 350px;
  margin-left: -40px;
}
.year2016__wrapper-right {
  text-align: left;
  width: 510px;
  margin-top: 170px;
}
.year2016__wrapper-right p:before {
  content: '';
  position: absolute;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
  margin-left: -145px;
  z-index: 1;
}
.year2016__line {
  display: flex;
  width: 706px;
  margin-left: -160px;
  margin-top: 160px;
  justify-content: space-between;
}
.year2016__group {
  width: 470px;
  padding-left: 46px;
  margin-left: -46px;
  border-radius: 80px;
  margin-top: 80px;
  background: linear-gradient(to bottom, #2b306f, transparent);
}
.year2016__group:after {
  content: '';
  background-image: url('../img/arrow9.svg');
  width: 267px;
  height: 158px;
  position: absolute;
  transform: rotate(61deg);
  margin-left: -325px;
  margin-top: -708px;
}
.year2016__group:before {
  content: '';
  background-image: url('../img/arrow9.svg');
  width: 267px;
  height: 158px;
  margin-left: -310px;
  margin-top: -146px;
  transform: rotate(241deg);
  position: absolute;
}
.year2016__part1 {
  display: flex;
  flex-direction: column;
}
.year2016__part1 p {
  display: flex;
  justify-content: space-between;
  width: 268px;
  margin: auto;
  font-size: 50px;
}
.year2016__part1 p:after {
  content: '';
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
  margin-left: 74px;
  margin-top: 80px;
  z-index: 1;
}
.year2016__part1 .year2016__organ {
  margin-top: 10px;
}
.year2016__b {
  font-size: 130px;
  font-weight: bold;
  margin-right: -40px;
  margin-top: -10px;
}
.year2016__b::after {
  content: '';
  background-image: url('../img/arrow2016long.svg');
  width: 11px;
  height: 433px;
  margin-left: -36px;
  margin-top: 180px;
  position: absolute;
}
.year2016__part2 {
  display: flex;
  text-align: right;
  width: 320px;
}
.year2016__part2 span {
  margin-top: -14px;
}
.year2016__part2:before {
  content: '';
  background-image: url('../img/arrow2.svg');
  width: 11px;
  height: 142px;
  margin-left: 304px;
  margin-top: -140px;
  position: absolute;
}
.year2016__part2:after {
  content: '';
  background-image: url('../img/arrow21.svg');
  width: 11px;
  height: 119px;
  margin-left: 304px;
  margin-top: 176px;
  position: absolute;
}
.year2016__part3 {
  display: flex;
  text-align: left;
  width: 320px;
}
.year2016__part3 span {
  margin-top: -10px;
}
.year2016__part3:before {
  content: '';
  background-image: url('../img/arrow2.svg');
  width: 11px;
  height: 142px;
  margin-left: 10px;
  margin-top: -140px;
  position: absolute;
}
.year2016__part3:after {
  content: '';
  background-image: url('../img/arrow31.svg');
  width: 11px;
  height: 63px;
  margin-left: 10px;
  margin-top: 230px;
  position: absolute;
}
.year2016__glucacon {
  font-size: 30px;
  margin-right: -270px;
  margin-top: 10px;
}
.year2016__glucacon::before {
  content: '';
  background-image: url('../img/arrowshort.svg');
  width: 11px;
  height: 36px;
  position: absolute;
  margin-left: 10px;
  margin-top: -42px;
}
.year2016__hyperglycemia {
  font-size: 50px;
  margin-top: 80px;
}
.year2016__part4 {
  display: flex;
  margin-top: 32px;
}
.year2016__part4 p {
  margin-left: 38px;
}
.year2016__part4 p:before {
  margin-top: 15px;
}
.year2016__part4 img {
  margin-top: 33px;
}
.year2016__part5 {
  display: flex;
  margin-top: 34px;
}
.year2016__part5 p {
  margin-left: 28px;
}
.year2016__part5 p:before {
  margin-top: 10px;
}
.year2016__part5 img {
  margin-top: 36px;
  margin-left: -5px;
}
.year2016__insulin-resistance {
  font-size: 30px;
  padding-top: 40px;
  padding-left: 38px;
}
.year2016__part6 {
  display: flex;
  margin-top: 26px;
}
.year2016__part6 p {
  margin-left: 32px;
}
.year2016__part6 p:before {
  margin-top: 12px;
}
.year2016__part6 img {
  margin-top: 42px;
}
.year2016__part6:before {
  content: '';
  background-image: url('../img/arrow11.svg');
  width: 11px;
  height: 46px;
  margin-left: 134px;
  margin-top: -170px;
  position: absolute;
}
.year2016__part6:after {
  content: '';
  background-image: url('../img/arrow11.svg');
  width: 11px;
  height: 46px;
  margin-left: 156px;
  margin-top: -170px;
  transform: rotate(180deg);
  position: absolute;
}
.year2016__part7 {
  display: flex;
}
.year2016__part7 p {
  margin-left: 40px;
}
.year2016__part7 img {
  margin-top: 33px;
}
.year2016__part7 p:before {
  margin-left: -148px;
  margin-top: 10px;
}
.year2016__part7 span {
  margin-top: -10px;
}
.year2016__part7:after {
  content: '';
  background-image: url('../img/arrow1.svg');
  width: 226px;
  height: 36px;
  position: absolute;
  transform: rotate(197deg);
  margin-left: -275px;
  margin-top: 15px;
}
.year2016__part7:before {
  content: '';
  background-image: url('../img/arrow1.svg');
  width: 226px;
  height: 36px;
  margin-left: -268px;
  margin-top: -6px;
  transform: rotate(17deg);
  position: absolute;
}
.year2016__part8 {
  display: flex;
  margin-top: 153px;
}
.year2016__part8 p:after {
  margin-top: -142px;
}
.year2016__part8 img {
  margin-top: 30px;
}
.year2016__part8 span {
  margin-top: -10px;
}
.year2016__part8:after {
  content: '';
  background-image: url('../img/arrow1.svg');
  width: 226px;
  height: 36px;
  position: absolute;
  margin-left: 600px;
  margin-top: 30px;
}
.year2016__part8:before {
  content: '';
  background-image: url('../img/arrow1.svg');
  width: 226px;
  height: 36px;
  margin-left: 594px;
  margin-top: 14px;
  transform: rotate(180deg);
  position: absolute;
}
.year2016__part9 {
  display: flex;
  margin-top: 14px;
  width: 560px;
}
.year2016__part9 p {
  margin-right: 32px;
}
.year2016__part9 p:after {
  margin-top: -145px;
}
.year2016__part9 img {
  margin-top: 42px;
}
.year2016__part9 span {
  margin-top: -10px;
}
.year2016__part9:after {
  content: '';
  background-image: url('../img/arrow9.svg');
  width: 267px;
  height: 158px;
  position: absolute;
  margin-left: 590px;
  margin-top: -113px;
}
.year2016__part9:before {
  content: '';
  background-image: url('../img/arrow9.svg');
  width: 267px;
  height: 158px;
  margin-left: 598px;
  margin-top: -98px;
  transform: rotate(180deg);
  position: absolute;
}
.year2016__amelin {
  font-size: 30px;
  margin-top: 26px;
  margin-right: -30px;
}
.year2016__amelin:after {
  content: '';
  background-image: url('../img/arrowAmelin1.svg');
  width: 367px;
  height: 288px;
  position: absolute;
  margin-left: -67px;
  margin-top: -289px;
}
.year2016__amelin:before {
  content: '';
  background-image: url('../img/arrowAmelin2.svg');
  width: 11px;
  height: 46px;
  margin-left: 64px;
  margin-top: 56px;
  position: absolute;
}
.year2016__part10 {
  display: flex;
  padding-left: 256px;
  margin-top: 56px;
}
.year2016__part10 p:after {
  margin-top: -100px;
}
.year2016__part10 img {
  margin-top: 40px;
}
.year2016__part10 span {
  margin-top: -10px;
}
.year2016__part10:after {
  content: '';
  background-image: url('../img/arrow10.svg');
  width: 176px;
  height: 86px;
  position: absolute;
  margin-left: 314px;
  margin-top: -22px;
}
.year2016__part10:before {
  content: '';
  background-image: url('../img/arrow101.svg');
  width: 142px;
  height: 11px;
  margin-left: 347px;
  margin-top: 86px;
  position: absolute;
}
.year2016__part11 {
  display: flex;
  text-align: right;
  width: 320px;
  margin: auto;
  margin-top: 80px;
}
.year2016__part11 img {
  margin-left: 23px;
}
.year2016__part11 span {
  margin-top: -10px;
}
.year2016__part11 p:after {
  content: '';
  position: absolute;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.1;
  margin-left: 16px;
  margin-top: -130px;
  z-index: 1;
}
.year2016__part11:before {
  content: '';
  background-image: url('../img/arrow11.svg');
  width: 11px;
  height: 46px;
  margin-left: 156px;
  margin-top: -66px;
  position: absolute;
}
.year2016__part11:after {
  content: '';
  background-image: url('../img/arrow11.svg');
  width: 11px;
  height: 46px;
  margin-left: 203px;
  margin-top: -66px;
  transform: rotate(180deg);
  position: absolute;
}
