.sec3 {
    z-index: 3;
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }

  .sec3__back {
    transform: translateZ(0);
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('../img/sec3Back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sec3__stay {
   transform: translateZ(90px) scale(.7);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    position: absolute;

  }

  .sec3__title {
      color: white;
      font-size: 60px;
      margin-top: 30px;
      margin-bottom: 0;
      font-weight: normal;
      text-align: left;
      margin-left: 8%;
  }

  .sec3__slider-list {
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
  }

  .sec3__slider-item {
      display: flex;
      width: 1820px;
      margin: auto;
      justify-content: space-between;
      p {
          margin: 0;
      }
      b {
          font-size: 72px;
      }
      span {
          display: block;
      }  
      img {
          z-index: 2;
      }   
  }

  .year2016__wrapper-left {
      text-align: right;
      width: 560px;
      p:after {
        content: '';
        position: absolute;
        width: 122px;
        height: 122px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.1;
        margin-left: 22px;
        margin-top: -20px;
        z-index: 1;
    }
    p {
        margin-right: 36px;
    }
  }

  .year2016__wrapper-center {
    text-align: center;
    width: 560px;
}

  .year2016__wrapper-right {
    text-align: left;
    width: 560px;
    p {
       // margin-left: 30px;
    }
    p:before {
        content: '';
        position: absolute;
        width: 122px;
        height: 122px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.1;
        margin-left: -140px;
        z-index: 1;
    }
}

  .year2016__line {
      display: flex;
      width: 660px;
      margin-left: -50px;
      margin-top: 170px;
      justify-content: space-between;
  }

  .year2016__group {
      //margin-left: 10px;
  }

.year2016__part1 {
    display: flex;
    flex-direction: column;
    p {
        display: flex;
        justify-content: space-between;
        width: 268px;
        margin: auto;
        font-size: 50px;
    }
    p:after {
        content: '';
        position: absolute;
        width: 165px;
        height: 165px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.1;
        margin-left: 46px;
        margin-top: 90px;
        z-index: 1;
    }
    .year2016__organ {
        margin-top: 10px;
    }
}

.year2016__b {
    font-size: 130px;
    font-weight: bold;
}

.year2016__part2 {
    display: flex;
    text-align: right;
    width: 300px;
}

.year2016__part3 {
    display: flex;
    text-align: left;
    width: 300px;
}

.year2016__part4 {
    display: flex;
    p {
        margin-left: 31px;
        margin-top: 60px;
     }
     img {
        margin-top: 76px;
        margin-left: 8px;
    }
}

.year2016__part5 {
    display: flex;
    p {
        margin-left: 23px;
        margin-top: 60px;
     }
     img {
        margin-top: 86px;
    }
}

.year2016__part6 {
    display: flex;
    p {
        margin-left: 32px;
        margin-top: 60px;
     }
     img {
        margin-top: 86px;
    }
}

.year2016__part7 {
    display: flex;
    p {
        margin-left: 40px;
     }
     img {
        margin-top: 16px;
    }
    p:before {
        margin-left: -150px;
    }
}

.year2016__part8 {
    display: flex;
    margin-top: 153px;
    p:after {
        margin-top: -134px;
    }
    img {
        margin-top: 10px;
    }
}

.year2016__part8:after {
    content: '';
    background-image: url('../img/arrow1.svg');
    width: 220px;
    height: 35px;
    position: absolute;
}

.year2016__part8:before {
    content: '';
    background-image: url('../img/arrow1.svg');
    width: 220px;
    height: 35px;
    transform: rotate(180deg);
    position: absolute;
}

.year2016__part9 {
    display: flex;
    margin-top: 35px;
    p:after {
        margin-top: -174px;
    }
    img {
        margin-top: 28px;
    }
}

.year2016__part10 {
    display: flex;
    padding-left: 250px;
    margin-top: 140px;
    p:after {
        margin-top: -100px;
    }
    img {
        margin-top: 30px;
    }
}

.year2016__part11 {
    display: flex;
    text-align: right;
    width: 260px;
    margin: auto;
}
