@import "header.less";
@import "sec1.less";
@import "sec2.less";
@import "sec3.less";
@import "year2009.less";
@import "year1998.less";

@font-face {
    font-family: 'GothamPro'; 
    // адрес шрифта и тип 
    src: url("../fonts/GothamPro.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

    @font-face {
      font-family: 'Lato'; 
      // адрес шрифта и тип 
      src: url("../fonts/Lato-Regular.ttf") format("truetype"); 
      font-style: normal; 
      font-weight: normal; 
      } 


  body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: 'GothamPro'
  }

  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .main-page {
    perspective: 300px;
    height: 100vh;
   // overflow-x: hidden;
    overflow-y: auto;
  }




